<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
 
  <body style="background-color:skyblue">

    <!-- <img src="/public/css/openWeatherMap.png"> -->


    <div id="content-area">
<nav>
  <ul id="header_style">
    <li><a href="weather_ajax" class="logo"> Weather Application-AJAX</a></li>
     <li><a href="currentWeather" id="currentWeather"> Your Weather's location </a></li>
    <li><a href="https://github.com/coelho2210/finalProject_nodejs" id="github" target="_blank">Github</a></li>
    <!-- <li><a href="/login" id="login"> Login </a></li> -->
    <!-- <li><a href="/logout" id="signup"> Logout </a></li> -->
  </ul>
</nav>

    <div class="container">
      <fieldset>
        <form action="/displayWeather" method="post">
          <input name="city" type="text" class="input" placeholder="Enter a City" required><br> <br>
          <input type="submit" class="button" value="click here">
        </form>

<% if(weather !== null){ %>
          <p><%= weather %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
       <% } %>
      </fieldset>
    </div>
  </div>
  </body>
</html>